/* GTK4 dark mode settings */
@define-color window_bg_color #242424;
@define-color window_fg_color #ffffff;
@define-color view_bg_color #1e1e1e;
@define-color view_fg_color #ffffff;
@define-color accent_bg_color #3584e4;
@define-color accent_fg_color #ffffff;
@define-color headerbar_bg_color #303030;
@define-color headerbar_fg_color #ffffff;
@define-color card_bg_color #303030;
@define-color card_fg_color #ffffff;
@define-color popover_bg_color #383838;
@define-color popover_fg_color #ffffff;
